@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #09090b !important;
  color: white;
  margin: 0;
  padding: 0;
}
html, body {
  cursor: none !important; 
  font-family: 'Geist', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

a, button, .group {
  cursor: none !important; 
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}